<div class="modal-header">
    <h3 class="modal-title"><span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;Decretos y disposiciones -> {{ingresar_decretos.documento.documento_id}}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default" ng-class="{'chat-panel' : ingresar_decretos.secciones.length > 5}">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-list"></i>&nbsp;Secciones
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-chevron-down"></i>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-refresh"></i> Refrescar lista
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="chat" ng-if="ingresar_decretos.secciones.length > 0">
                        <li class="left clearfix" ng-repeat="seccion in ingresar_decretos.secciones">
                            <span class="chat-img pull-left">
                                <div class="avatar warning"><i class="fa fa-bandcamp"></i></div>
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Sección : </strong>
                                </div>
                                <p>{{seccion.seccion | uppercase}}</p>
                                <p>
                                    <a role="button" confirm="¿ Está seguro que desea eliminar la sección -> {{seccion.seccion}} ?" ng-click="ingresar_decretos.eliminar_seccion(seccion)"><i class="glyphicon glyphicon-trash"></i>&nbsp;Eliminar</a>
                                </p>
                            </div>
                        </li>
                    </ul>
                    <h4 class="text-center" ng-if="ingresar_decretos.secciones.length == 0">Sin secciones</h4>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <select class="form-control input-sm" name="seccion" id="seccion" ng-model="ingresar_decretos.seccion" ng-options="item as item.seccion for item in ingresar_decretos.secciones_lista track by item.seccion_id">
                            <option value="">[ Sección ]</option>
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" ng-disabled="!ingresar_decretos.seccion" confirm="¿ Está seguro que desea ingresar la siguiente sección -> {{ingresar_decretos.seccion.seccion}} ?" ng-click="ingresar_decretos.agregar_seccion(ingresar_decretos.seccion)">Agregar&nbsp;<i class="glyphicon glyphicon-plus"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default" ng-class="{'chat-panel' : ingresar_decretos.disposiciones.length > 5}">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-list-alt"></i>&nbsp;Disposiciones
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-chevron-down"></i>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-refresh"></i> Refrescar lista
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="chat" ng-if="ingresar_decretos.disposiciones.length > 0">
                        <li class="left clearfix" ng-repeat="disposicion in ingresar_decretos.disposiciones">
                            <span class="chat-img pull-left">
                                <div class="avatar" style="background-color: #337ab7"><i class="fa fa-check"></i></div>
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Disposición : </strong>
                                    <small class="pull-right text-muted">
                                        <i class="fa fa-clock-o fa-fw"></i> {{disposicion.fecha_disposicion}}
                                    </small>
                                </div>
                                <p>{{disposicion.disposicion | uppercase}}</p>
                                <p>
                                    <a role="button" confirm="¿ Está seguro que desea eliminar la disposición -> {{disposicion.disposicion}} ?" ng-click="ingresar_decretos.eliminar_disposicion(disposicion)"><i class="glyphicon glyphicon-trash"></i>&nbsp;Eliminar</a>
                                </p>
                            </div>
                        </li>
                    </ul>
                    <h4 class="text-center" ng-if="ingresar_decretos.disposiciones.length == 0">Sin disposiciones</h4>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <select class="form-control input-sm" name="disposicion" id="disposicion" ng-model="ingresar_decretos.disposicion" ng-options="item as item.disposicion for item in ingresar_decretos.disposiciones_lista track by item.disposicion_id">
                            <option value="">[ Disposición ]</option>
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-primary btn-sm" ng-disabled="!ingresar_decretos.disposicion" confirm="¿ Está seguro que desea ingresar la siguiente disposición -> {{ingresar_decretos.disposicion.disposicion}} ?" ng-click="ingresar_decretos.agregar_disposicion(ingresar_decretos.disposicion)">Agregar&nbsp;<i class="glyphicon glyphicon-plus"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="accion">Acción : </label>
                <select class="form-control" name="accion" id="accion" ng-model="ingresar_decretos.accion" ng-options="item as item.accion for item in ingresar_decretos.acciones_lista track by item.accion_id">
                    <option value="">[ Acción ]</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="observacion">Observación : </label>
                <textarea class="form-control" rows="3" ng-model="ingresar_decretos.observacion" placeholder="Ingrese observacion"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="ingresar_decretos.cerrar()"><i class="glyphicon glyphicon-ban-circle"></i>&nbsp;&nbsp;Cerrar</button>
    <button class="btn btn-primary" type="button" ng-disabled="ingresar_decretos.secciones.length == 0 || ingresar_decretos.disposiciones.length == 0 || !ingresar_decretos.accion" ng-click="ingresar_decretos.guardar_decreto()"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;&nbsp;Guardar decreto</button>
</div>
