<div class="modal-header">
    <h3 class="modal-title"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;Adjunto del documento</h3>
</div>
<div class="modal-body">
    <h4 class="text-center">Vista preliminar del adjunto</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="adjunto">
                <iframe width="640" height="360" src="https://docs.google.com/viewer?url=https://calibre-ebook.com/downloads/demos/demo.docx&embedded=true" frameborder="0" allowfullscreens></iframe>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="visualizar_adjunto.cerrar()"><i class="glyphicon glyphicon-ban-circle"></i>&nbsp;&nbsp;Cerrar</button>
</div>
